body {
    background-color:#F8FFF4;
}
#heading{
	background-color:#FECDAA;
	size-height:80px;
    border-radius:20px;
	padding: 15px;
}
a{
	background-color: #474350;
	color:#F8FFF4;
	text-decoration: none;
	padding : 5px;
	border-radius: 5px;
}
nav{
	vertical-align: center;
	horizontal-align: middle;
}